$font-pace: "Space Grotesk", sans-serif;
$font-inter: "Inter", sans-serif;
$primary-color: #83cd8f;
$secondary-color: #fed500;
$black-color: #090f1f;
$white-color: #ffffff;
$bg-color: #eef6e7;
$bg-color-two: #fffade;
$p-color: #2c3347;
