// footer section start
.footer-section {
  background-color: #090f1f;
  .footer-main {
    padding-top: 120px;
    padding-bottom: 130px;
    display: flex;
    justify-content: space-between;
    .footer-widgets {
      .input-group {
        position: relative;
        input {
          width: 360px;
          height: 50px;
          border-radius: 50px;
          background-color: #151b2a;
          color: $white-color;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          outline: none;
          line-height: 50px;
          padding: 0 15px;
          line-height: 50px;
          border: 0;
          &::placeholder {
            color: $white-color;
            opacity: 0.8;
          }
          &:focus {
            outline: none;
          }
        }
        .submit-btn {
          position: absolute;
          top: 0;
          right: 0;
          width: 60px;
          height: 50px;
          background-color: #fed500;
          border-top-right-radius: 50px;
          border-bottom-right-radius: 50px;
          i {
            font-size: 18px;
          }
        }
      }
      .social-icons {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 30px;
        a {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #151b2a;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fed500;
        }
      }
      h3 {
        color: $white-color;
        font-family: $font-pace;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        text-transform: capitalize;
        margin-bottom: 30px;
      }
      .list {
        li {
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            color: $white-color;
            font-family: $font-inter;
            font-size: 18px;
            line-height: 27px;
            font-weight: 300;
            opacity: 0.8;
          }
        }
      }

      .address-widgets {
        li {
          margin-bottom: 35px;
          &:last-child {
            margin-bottom: 0;
          }
          span {
            color: $white-color;
            font-family: $font-inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;
            margin-bottom: 10px;
            opacity: 0.8;
          }
          h4 {
            color: $white-color;
            font-family: $font-pace;
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: 27.5px;
          }
        }
      }
    }
  }
  .footer-copyright {
    padding-top: 30px;
    padding-bottom: 30px;

    border-top: 1px solid rgba(255, 255, 255, 0.8);

    .copyright-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h4 {
        color: $white-color;
        font-family: $font-inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        opacity: 0.8;
      }
      .copyright-menu {
        display: flex;
        align-items: center;
        gap: 30px;
        li {
          a {
            color: $white-color;
            font-family: $font-inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;
          }
        }
      }
    }
  }
}
