/* video section start*/

.video-section {
  padding-top: 120px;
  .container-fluid {
    width: 100%;
    padding: 0 80px;
    .img {
      position: relative;
      img {
        width: 100%;
      }
      .video-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        width: 157px;
        height: 157px;
        border: 0;
        outline: none;
        border-radius: 50%;
        background: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        i {
          font-size: 30px;
        }
      }
    }
  }
}
